{% extends "lab/base.html" %}

{% block content %}

  <p> <a class="btn btn-primary btn-lg" href="/admin" target="_blank">Admin</a> &nbsp; Enter <small>(lowercase)</small> <i>Email</i>: <b>admin@admin.com</b>, <i>Password</i>: <b>admin</b>. </p>

  <p><a class="btn btn-primary btn-lg" href="/lab/api" target="_blank">REST</a> &nbsp; Web browsable REST api.</p>

  <p><a class="btn btn-success btn-lg" href="/lab/agenda" target="_blank">Agenda</a> &nbsp; Agenda.</p>

  <p><a class="btn btn-default btn-lg" href="/lab/setup" target="_blank">Database setup</a> &nbsp; Execute database setup, safe if already setup.</p>

{% endblock %}
